h1 {
    color: rgb(9, 115, 180);
    text-align: center;
    p{
        text-align: center;
    }

img {
    display: block;
    margin: auto;
}

h4 {
    color: rgb(0, 156, 161);
}

body {
    background-color: rgb(255, 255, 255);
}
